.yazi {
  font-size: 35px;
  color: rgb(255, 123, 47);
  font-weight: bold;
  text-shadow: 3px 5px 6px black;
}
.kutu {
  width: 100px;
  height: 100px;
  background-color: hotpink;
  margin-top: 20px;
  box-shadow: 10px 10px 15px black;
  border-radius: 5px;
}
.yazi2 {
  font-size: 35px;
  color: rgb(255, 123, 47);
  font-weight: bold;
  text-shadow: 3px 5px 6px black, -5px -5px 6px green;
}
